<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kesiyas.spring.AsRentCar.rentcar.dao.RentcarDAO">

	<select id="selectCity" parameterType="String" resultType="com.kesiyas.spring.AsRentCar.user.admin.model.Branch">
		SELECT
			`id`
			, `centerName`
		FROM 
			`branch`
		WHERE
			`city` = #{city}
	</select>
	
	<select id="selectCar" parameterType="map" resultType="com.kesiyas.spring.AsRentCar.user.admin.model.RentalCar">
		SELECT
			`modelName`
		FROM 
			`rentalcar`
		WHERE
			`centerId` = #{centerId}
			AND
			`carGrade` = #{carGrade}
	</select>
	
	<select id="selectAllCar" parameterType="int" resultType="com.kesiyas.spring.AsRentCar.user.admin.model.RentalCar">
		SELECT
			`modelName`
		FROM 
			`rentalcar`
		WHERE
			`centerId` = #{centerId}
	</select>
	
	<select id="selectCenterId" parameterType="String" resultType="int">
		SELECT
			`id`
		FROM 
			`branch`
		WHERE
			`centerName` = #{centerName }
	</select>

	<insert id="insertReservation" parameterType="map">
		INSERT INTO 
			`Reservation`
		(
			`userId`
			, `rentCenterId`
			, `startDate`
			, `returnDate`
			, `rentCar`
			, `name`
			, `birth`
			, `phoneNumber`
			, `address`
			, `license`
			, `licenseNumber`
			, `license_IssueDate`
			, `reservationNumber`
			, `createdAt`
			, `updatedAt`
		) 
		VALUES
		(
			#{userId}
			, #{rentCenterId}
			, #{startDate}
			, #{returnDate}
			, #{rentCar}
			, #{name}
			, #{birth}
			, #{phoneNumber}
			, #{address}
			, #{license}
			, #{licenseNumber}
			, #{license_IssueDate}
			, #{reservationNumber}
			, now()
			, now()		
		)	
	</insert>
	
	<select id="selectReservationNumber">
		SELECT
			count(1)
		FROM
			`reservation`
		WHERE
			`reservationNumber` = #{reservationNumber}
	</select>
</mapper>