<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kesiyas.spring.AsRentCar.user.dao.UserDAO">
	<insert id="insertUser" parameterType="map">
		INSERT INTO
			`user`
		(
			`loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
			, `createdAt`
			, `updatedAt`			
		)
		VALUES
		(
			#{loginId }
			, #{password }
			, #{name }
			, #{phoneNumber }
			, #{email }
			, now()
			, now()
		)
	</insert>
	
	<insert id="insertAdminUser" parameterType="com.kesiyas.spring.AsRentCar.user.model.User" 
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			`user`
		(
			`loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
			, `createdAt`
			, `updatedAt`			
		)
		VALUES
		(
			#{loginId }
			, #{password }
			, #{name }
			, #{phoneNumber }
			, #{email }
			, now()
			, now()
		)
	</insert>
	
	<insert id="insertAdmin" parameterType="map">
		INSERT INTO
			`admin`
		(
			`userId`
			, `authority`
			, `createdAt`
			, `updatedAt`
		)
		VALUES 
		(
			#{userId}
			, #{authority}
			, now()
			, now()
		)	
	</insert>
	
	<select id="selectCheckLoginId" parameterType="String" resultType="int">
		SELECT
			count(1)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<select id="selectUser" parameterType="String" resultType="com.kesiyas.spring.AsRentCar.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND
			`password` = #{password}
	</select>

	<select id="selectLoginId" parameterType="String" resultType="com.kesiyas.spring.AsRentCar.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
		FROM
			`user`
		WHERE
			`name` = #{name}
			AND
			`phoneNumber` = #{phoneNumber}
	</select>
	
	<select id="selectEmail" parameterType="String" resultType="int">
		SELECT
			count(1)
		FROM
			`user`
		WHERE
			`email` = #{email}
	</select>
	
	<select id="selectPassowrdByLoginId" parameterType="String" resultType="com.kesiyas.spring.AsRentCar.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `email`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
		
	
	<update id="updatePassword" parameterType="map">
		UPDATE
			`user`
		SET 
			`password` = #{password}
			, `updatedAt` = now()
		WHERE
			`id` = #{userId}
	</update>
	
	<insert id="insertBranch" parameterType="map">
		INSERT INTO
			`branch`
		(
			`userId`
			, `centerName`
			, `term`
			, `city`
			, `address`
			, `name`
			, `phoneNumber`
			, `createdAt`
			, `updatedAt`			
		)
		VALUES
		(
			#{userId }
			, #{centerName }
			, #{term }
			, #{city}
			, #{address}
			, #{name }
			, #{phoneNumber }
			, now()
			, now()
		)
	</insert>
</mapper>
