@charset "UTF-8";

body {
	min-width: 1200px;
    max-width: 1920px;
}

.container a {
	text-decoration: none;
	color:#666666;
}

header {	
	width:1200px;
	height:90px;
	border-bottom: 1px solid #ada6a0;
}

header > .main-style {
	height:100%;
	align-items:center;
	margin-left: 79px;
	margin-right: 60px;	
}

header .main-menu{
	font-size: 18px;
	font-weight: normal;
}

header .util {
	color: #e67a15;
	font-size: 14px;
	font-weight: bold;
}

header .util_2  {
	color: #4287f5;
	font-size: 14px;
	font-weight: bold;
}

.contents {
	width:1200px;
}

.home-bg {
	background: #f3f3f3;
}

.contents > .box {
	width: 540px;
	margin-top: 60px;
}

.box > .btn-style {
	height: 49px;
    font-size: 18px;
    color: #fff;
    background: #f68121;
    margin-top: 36px;
}

.box > .signin-btn {
	height: 49px;
    font-size: 18px;
	background: #ed441a;
	color: #fff;
	margin-top: 36px;
}

.box > .signin-menu {
	margin-left: 120px;
	margin-top: 32px;
}

.signin-menu > .signin-menu-style {
	font-size: 14px;
	color: #666;
}

.box .font-color {
	color: #eb8c34;
}

.box .center_input_style {
	border: 1px solid #ddd;
	font-size: 13px;
	height: 39px;
}

.box .center_selectBox_style {
	width: 90px;
	font-size: 14px;
}

.contents .content {
	height: calc(50% - 16px);
	width : 572px;
}

.contents .reservation {
	height: calc(50% - 16px);
	width : 572px;
	background:  #fff;
	border-radius: 15px;
}

.content > .main_banner {
	height:320px;
	border-radius: 3px;
}

.reservation .font-margin {
	margin-left: 5px;
	margin-top: 3px;
}

.reservation .reservation_font{
	font-weight: bold;
    font-size: 18px;
}

.reservation .layerPopWrap {
	position:absolute;
    background-color: #fff;
    border: 1px solid #666;
    box-shadow: 8px 8px 16px rgb(0 0 0 / 4%);
    border-radius: 4px;
    width: 457px;
    height: 370px;
	z-index:10;
}

.reservation .rentCarLayer-margin {
	margin-top: -350px;
}

.layerPopWrap > .selectWrap {
	padding : 24px 0px 0 30px;
}

.selectWrap .selectDepth1 {
    width: 115px;
    height: 100%;
    border-right: 1px solid #eee;
}

.reservation .revBtn_style{
	font-weight: bold;
    color: #fff;
    font-size: 18px;
    background: #FF7A00;
    border-radius: 4px;
    height: 56px;
}

.reservation #jeju_input {
	border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}

.tabBtn {
    color: #222;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.short_rev .ul {
	width: 100%;
}

.short_rev .tab-menu .tab_menu_style{
	height: 62px;
    font-size: 20px;  
}

.short_rev .tab-menu > ul {
    width: 100%;
    border-collapse: collapse;
}

.tab-menu .tab_li {
    border: 1px solid #ddd;
    border-bottom-color: #333;
}

.tab-menu .selected {
	border-color: #333;
	background: #333;
}

.tab-menu .tab_li a {
	color :666666;
} 

.tab-menu .selected a {
	color: white;
}

.tab-menu .jeju_tab_radius {
	border-top-left-radius: 8px;
}

.tab-menu .confirm_radius {
	border-top-right-radius: 8px;
}

.rentDate .header-group hr {
	background:#333;
    height:1px;
    border:0;
    margin-top: 26px;
}

.short_rev input {
	height : 43px;
}

.short_rev .rent_content {
	padding: 0 30px;
}

.rent_content .rentCenterLayer {
	overflow-y: scroll;
    height: 278px;
    top: 100%;
    left: 0;
    z-index: 11;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #f68121;
    background-color: #fff;
}

.rentDate .rent_content .jeju {
	background-color: #f5f5f5;
}

.rentDate .rent_content .map_btn {
	color: #fff;
    background: #6C6259;
}

.rentDate .rent_content .date {
	text-align: center;
	align-items: center;
	display: flex;
	border: 1px solid #ddd;
	justify-content: center;
}

.rentDate .rent_content .date_info {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 28px 30px; 
}

.rentCar .rent_content .selectCar-menu ul li {
	border-radius: 5px;
	border: 1px solid #ddd;
}

.rentCar .rent_content .selectCar-menu ul li a {
	height: 42px;
	color:#666;
	font-size:13px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rentCar .rent_content .tab-content {
	margin-top: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.rentCar .rent_content .tab-content ul {
	position: relative;
}

.rentCar .rent_content .tab-content ul:before {
    content: "";
    position: absolute;
    left:50%;
    top:0;
    width: 1px;
    height: 100%;
    min-height: 135px;
    background: #ddd;
    z-index: 1;
}

.rentCar .rent_content .tab-content ul li {  
    width: 50%;
    overflow: hidden;
}

.rentCar .rent_content .tab-content a{
	position: relative;
    font-size: 14px;
    margin-right: 0;
    max-width: 360px;
    overflow: hidden;
    color: #333;
}

.driverInfo .contractor_info > div{
	width: 440px;
}

.driverInfo .contractor_info .input_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.driverInfo .contractor_info h4 {
	font-size: 18px;
    margin-bottom: 28px;
    color: #333;
    font-weight: bold;
    letter-spacing: -.25px;
}

.driverInfo .contractor_info .input_name {
    width: 70px;
    display: inline-block;
    padding-top: 11px;
    font-size: 14px;
    display: flex;
}

.driverInfo .contractor_info .input {
	width: 360px;
    height: 42px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 12px;
    border-radius: 5px;
}

.driverInfo .contractor_info .msg {
 	display: block;
    margin-left: 80px;
    margin-top: -7px;
    margin-bottom: 12px;
    font-size: 13px;
}

.driverInfo .contractor_info .address-input {
	width: 360px;
}

.driverInfo .contractor_info .address-input a {
	background-color: #6C6259;
	margin-left: 14px;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    border-radius: 5px;
}

.short_rev .confirm {
	
}

.short_rev .confirm input {
	
	height: 52px;
}

.driverInfo .contractor_info .license {
	margin-left: 80px;
}

footer {
	width:1200px;
	background: #333;
}

footer > .footer-info {
	height:100%;
	align-items:center;
	margin-left: 79px;
	margin-right: 170px;	
}

.footer-info .footer-logo-color_1 {
	color:#969695;
}

.footer-info .footer-logo-color_2 {
	color:#85857f;
}

.footer-info .info-font-style {
	color: #aaa;
	font-size: 14px;
}	

.main-logo-style {
	font-family: fantasy;
}

.input_style {
	border: 1px solid #ddd;
	font-size: 14px;
	height: 52px;
}

.info {	
	font-size: 14px;
}

.info > .point_1 {
	color: #f68121!important;
}

.radio_input {
	font-size: 20px;
	margin-top: 33px;
}

.radio_input_style {
	margin-top: -10px;
	width: 21px;
	height: 21px;
}

.branch-btn {
	margin-left: 359px;
	background: #555555;
	color: white;
}

.txt01 {
	margin-bottom: 5px;
    color: #000;
    font-size: 40px;
    line-height: 48px;
}

.firsttab-font {
	font-size: 20px;
	font-weight: bold;
	color:#ffc107;
}

.secondtab-font {
	font-size: 20px;
	font-weight: bold;
	color: rgba(255,255,255,0.7);
	background: #785e4c;
}    

.color1 {
	color: #f68121!important;
}

ul	{
	list-style: none;
}

.fl {
    float: left;
}

.disabled_input {
	background: #f5f5f5!important;
    color: #333;
}

.btn-color1 {
	color: #fff;
    background: #f68121;
}

.btn-color2 {
	color: #333;
    border: 1px solid #ddd;
    background: #fff;
}

.btn-large {
	height: 50px;
    line-height: 52px;
    font-size: 18px;
    border-radius: 5px;
}

.btn-width1 {
	width: 150px;
}

.mt1 {
	margin-top: 86px;
}

.input_size_46{
	height: 46px;
};

.info-deafult {
    font-size: 15px;
    color: #333;
    line-height: 52px;
}

.btn_text {
	padding: 0 10px;
}